@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    /* colours from style guide */
    --purple50: hsl(260, 100%, 95%);
    --purple300: hsl(264, 82%, 80%);
    --purple500: hsl(263, 55%, 52%);
    --white: hsl(0, 0%, 100%);
    --grey100: hsl(214, 17%, 92%);
    --grey200: hsl(0, 0%, 81%);
    --grey400: hsl(224, 10%, 45%);
    --grey500: hsl(217, 19%, 35%);
    --darkBlue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
    /* sizes */
    --defaultFontSize: 13px;
    --cardWidth: 250px;
    --cardHeight: 300px
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-family: "Barlow Semi Condensed";
}

body {
    background-color: var(--grey100);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    margin: 100px 0 100px 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

p {
    font-size: var(--defaultFontSize);
    line-height: 1.5;
}

.testimonials {
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: var(--cardWidth) var(--cardWidth) var(--cardWidth) var(--cardWidth);
    grid-template-rows: var(--cardHeight);
    gap: 32px;
}

/* daniel */
.testimonials> :nth-child(1) {
    grid-column: 1 / span 2;
    background-color: var(--purple500);
    color: var(--white);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 90% 0;
}

.testimonials> :nth-child(1) img {
    border: var(--purple300) 3px solid;
}

/* jonathan */
.testimonials> :nth-child(2) {
    grid-column: 3;
    background-color: var(--grey500);
    color: var(--white);
}

/* jeanette */
.testimonials> :nth-child(3) {
    grid-column: 1;
}

/* patrick */
.testimonials> :nth-child(4) {
    grid-column: 2 / span 2;
    background-color: var(--darkBlue);
    color: var(--grey200);
}

.testimonials> :nth-child(4) img {
    border: var(--purple500) 3px solid;
}

/* kira */
.testimonials> :nth-child(5) {
    grid-row: 1 / span 2;
}

/* daniel & jonathan */
.testimonials> :nth-child(1) p,
.testimonials> :nth-child(1) h2,
.testimonials> :nth-child(2) p,
.testimonials> :nth-child(2) h2 {
    color: var(--grey200);
}

/* jeanette & kira */
.testimonials> :nth-child(3),
.testimonials> :nth-child(5) {
    background-color: var(--white);
    color: var(--grey400);
}

.testimonials>div {
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: var(--grey200) 16px 16px 16px 16px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px
}

.profile img {
    border-radius: 1234px;
    width: 30px;
    height: 30px;
}

@media only screen and (max-width: 1200px) {

    .testimonials {
        display: grid;
        grid-auto-flow: column dense;
        grid-template-columns: var(--cardWidth) var(--cardWidth) var(--cardWidth);
        grid-template-rows: var(--cardHeight);
        gap: 32px;
    }

    /* move kira card to bottom */
    .testimonials> :nth-child(5) {
        grid-row: 3 / span 2;
    }
}

@media only screen and (max-width: 900px) {

    .testimonials {
        display: grid;
        grid-auto-flow: column dense;
        grid-template-columns: var(--cardWidth) var(--cardWidth);
        grid-template-rows: var(--cardHeight);
        gap: 32px;
    }

    /* jonathan */
    .testimonials> :nth-child(2) {
        grid-column: 2;
        grid-row: 4;
    }

    /* jeanette */
    .testimonials> :nth-child(3) {
        grid-column: 2;
        grid-row: 3
    }

    /* patrick */
    .testimonials> :nth-child(4) {
        grid-column: 1 / span 2;
    }
}

@media only screen and (max-width: 620px) {

    .testimonials {
        display: grid;
        grid-auto-flow: column dense;
        grid-template-columns: var(--cardWidth);
        grid-template-rows: var(--cardHeight);
        gap: 32px;
    }

    /* daniel */
    .testimonials> :nth-child(1) {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    /* jonathan */
    .testimonials> :nth-child(2) {
        grid-column: 1;
        grid-row: 3;
    }

    /* jeanette */
    .testimonials> :nth-child(3) {
        grid-column: 1;
        grid-row: 4;
    }

    /* patrick */
    .testimonials> :nth-child(4) {
        grid-column: 1;
        grid-row: 5 / span 2;
    }

    /* kira */
    .testimonials> :nth-child(5) {
        grid-column: 1;
        grid-row: 7 / span 2;
    }
}